.text-decorator-none{
    text-decoration: none;
}

.botao-atualizar {
    background-color: #283444 !important;
    font-weight: bold !important;
}

.botao-deletar {
    background-color: #9d2727 !important;
    font-weight: bold !important;
}