.box1{
    background-color: #283444;
    height: 95px;
}

.box2{
    background-color: #111423;
    height: 60px;
}

.redes{
    font-size: 38px !important;
    color: white;
}

.textos{
   color: white;
}

.siga{
    color: white;
    font-size: 25px !important;
}

